.dami__brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dami__brand div{
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dami__brand img{
    max-width: 50px;
    max-height: 50px;

    height: auto;
    width: auto;
}

.ggs img {
    max-width: 150px;
    max-height: 150px; 
    height: auto;
    width: auto;
}

.dami__brand a {
    text-decoration: none; 
    color: inherit;
}

.dami__brand a:hover {
    opacity: 0.8; 
}